* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
  height: 100%;
  font-size: 16px;
}

.round-bordered {
  border-radius: 8px;
}

#info {
  flex: 3;
  text-align: center;
}

.logo span {
  font-family: "Fredoka One", sans-serif;
  font-size: 4rem;
}

.description {
  font-size: 2rem;
}

#content {
  height: 100vh;
  padding: 0 4vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #aae8c5;
}

#form {
  flex: 2;
  margin: 20px;
  max-width: 60vw;
  min-width: 400px;
}

#login-form {
  padding: 16px;
  background-color: white;
  box-shadow: 0 2px 4px #0000001a, 0 8px 16px #0000001a;
}

h1 {
  margin-bottom: 16px;
}

label {
  font-size: 1.25rem;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

#login-btn {
  background-color: #00e3aa;
  color: white;
  opacity: 0.3;
  padding: 16px 20px;
  border: none;
  width: 100%;
  font-size: 1.25rem;
}

#login-btn.enabled {
  opacity: 1;
  cursor: pointer;
}

#login-btn.enabled:hover {
  opacity: 0.8;
}

footer {
  height: 20vh;
}

@media screen and (max-width: 900px) {
  #content {
    display: block;
    margin: 0;
    padding-top: 1px;
  }

  #form {
    margin: 5vw auto;
  }

  #info {
    margin: 5vh 0;
  }

  #info .description {
    display: none;
  }
}
