a.logo-small {
  font-family: "Fredoka One", san-serif;
  font-size: 2rem;
  font-weight: 500;
}

.gi {
  font-family: "Genshin", sans-serif;
}

button:disabled {
  cursor: not-allowed;
  border: 2px solid #f00 !important;
}

.navbar {
  background-color: #00e3aa;
}

.navbar-toggler-icon {
  background-image: url(../assets/img/menu.png);
}

.navbar-toggler:focus + #navmenu {
  height: 210px;
  width: 695px;
}

.navbar-toggler:not(:focus) + #navmenu {
  transition-delay: 0.5s;
}

#account-btn,
#person-btn {
  background-color: #00e3aa;
  opacity: 0.5;
}

#account-btn.enabled,
#person-btn.enabled {
  opacity: 1;
  cursor: pointer;
}

#account-btn.enabled:hover,
#person-btn.enabled:hover {
  opacity: 0.8;
}

.nav-pills .nav-link {
  border: 2px solid #228b22;
  transition: 0.5s;
}

.nav-pills .nav-link.active {
  background-color: #00e3aa;
}

.nav-pills .nav-link:not(:disabled, .active):hover {
  background-color: #def;
}

.error {
  height: 25vh;
}

@media all and (min-width: 992px) {
  #account-form,
  #person-form {
    width: 500px;
  }
}

@media all and (max-width: 992px) {
  .navbar-nav .nav-item:hover a {
    border-radius: 0.25rem;
    box-shadow: -5px 0 5px 1px;
    cursor: pointer;
    animation: slide-to-left 0.5s;
    animation-fill-mode: forwards;
  }

  .navbar-nav .nav-item:not(:hover) {
    animation: slide-to-left 0.5s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
  }

  #navmenu {
    height: 0px;
    transition: 0.5s;
    overflow-y: hidden;
  }
}

@keyframes slide-to-left {
  from {
    padding-right: 0;
  }
  to {
    padding-right: 2rem;
  }
}
