a.logo-small {
  font-family: "Fredoka One", san-serif;
  font-size: 2rem;
  font-weight: 500;
}

.gi {
  font-family: "Genshin", sans-serif;
}

.navbar {
  background-color: #00e3aa;
}

.navbar-toggler-icon {
  background-image: url(../assets/img/menu.png);
}

.navbar-toggler:focus + #navmenu {
  height: 184px;
}

#signup-btn {
  background-color: #00e3aa;
  opacity: 0.5;
}

#signup-btn.enabled {
  opacity: 1;
  cursor: pointer;
}

#signup-btn.enabled:hover {
  opacity: 0.8;
}

@keyframes navbar-expand {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

@media all and (min-width: 992px) {
  #signup-form {
    width: 500px;
  }
}

@media all and (max-width: 992px) {
  .nav-item a:hover {
    font-weight: 500;
    border-radius: 0.25rem;
    box-shadow: 0 1px 5px 0.1rem;
    cursor: pointer;
  }

  #navmenu {
    height: 0px;
    transition: 500ms;
    overflow: hidden;
  }
}
