span.logo-small {
  font-family: "Fredoka One", san-serif;
  font-size: 2rem;
}

.navbar {
  background-color: #00e3aa;
}

.navbar-toggler-icon {
  background-image: url(../assets/img/menu.png);
}

.nav-item:hover {
  opacity: 0.6;
}

#signup-btn {
  background-color: #00e3aa;
  opacity: 0.5;
}

#signup-btn.enabled {
  opacity: 1;
  cursor: pointer;
}

#signup-btn.enabled:hover {
  opacity: 0.8;
}

@media all and (min-width: 992px) {
  #signup-form {
    width: 500px;
  }
}
